body {
	color:#fff;
	background:#070707;
}

.container {
	margin:0 auto;
	max-width:907px;
}

.background {
	background:#070707 url(index-backgound.jpg) no-repeat 50% 50%;
	background-size:cover;
	height:1200px;
	width:100%;
	z-index:-1;
}



.page-footer {
	background:#1a1a1a;
	height:189px;
	width:100%;
}